h2 {
    font-size: 4rem;
    color: white;
    margin: 0;
}

h3 {
    color: white;
    margin: 0;
}

.nametag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    width: 400px;
    height: 250px;
    margin: auto;
    padding: 0;
    border: 20px solid white;
    border-radius: 10px;
}

.greeting {
    width: 400px;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}

.name {
    width: 400px;
    height: 100px;
    text-align: center;
    font-family: monospace;
    font-size: 1.7rem;
    background-color: rgb(243, 243, 243);
    }

.bottom {
    width: 400px;
    height: 50px;
    background-color: red;
}

#background {
    justify-content: center;
    align-items: center;  
}

#button {
    font-family: monospace;
    background-color: beige;
    border-radius: 10px;
}

#color-button {
    font-family: monospace;
    background-color: beige;
    border-radius: 10px;
}

#background {
    font-family: monospace;
    background-color: beige;
    border-radius: 10px;
}


